.footer{
  margin-top: 3vh;
  bottom:0;
  width:100%;
  position: fixed;
  height: 4vh;
  background-color:#FFFAFA;
  display:  flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.5vh solid  #FFDE00;
}

.linkApi:hover{
  text-decoration:underline;
  margin-bottom: 3px;
}

.linkGit:hover{
  text-decoration:underline;
  margin-bottom: 3px;
}

.icon{
font-size: 10rem;
}


@media(max-width: 800px) {

  .footer{ 
 display: none;
  }

  
}